@tailwind base;

@tailwind components;

@tailwind utilities;

.app {
  display: flex;
  padding: 1.5rem 5%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://i.pinimg.com/564x/0d/50/e4/0d50e46d81b0f3044ca856723f4664bd.jpg");
  background-size: cover;
  background-position: center;
}

/* h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: brown;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
} */
